@page "/person/createperson"
@using MindKey.Client.Services
@using MindKey.Client.Shared;
@using MindKey.Shared.Models
@attribute [Authorize]
@inject IAlertService AlertService
@inject IPersonService PersonService
@inject NavigationManager navManager
@inject PageHistoryState PageHistoryState
<div class="pagetitle">
    <h1>Data Entry</h1>
</div>


<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">People <span>| Add New</span></h5>

        <Form ButtonText="Create Person" person="@person" loading="@loading"
              OnValidSubmit="@CreatePerson" />
    </div>
</div>
@code {
    bool loading = false;

    Person person = new Person
        {
            FirstName = "",
            LastName = "",
            Gender = Gender.Other,
            PhoneNumber = "",
            Addresses = new List<Address>
        {
            new Address {Street="", City="", State="", ZipCode=""}
        }
        };
    async Task CreatePerson()
    {
        loading = true;
        try
        {
            await PersonService.AddPerson(person);
            AlertService.Success("Person added successfully", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack())
            {
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else
            {
                navManager.NavigateTo("/person/1");
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}