@page "/user/updateuser/{id}"
@using MindKey.Client.Services
@using MindKey.Client.Shared
@attribute [Authorize]
@inject IAlertService AlertService
@inject IUserService UserService
@inject NavigationManager navManager
@inject PageHistoryState PageHistoryState
<div class="pagetitle">
    <h1>Users</h1>
</div>


<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">Users <span>| Update</span></h5>
        <Form ButtonText="Update User" user="@user" loading="@loading"
              OnValidSubmit="@UpdateUser" />
    </div>
</div>

@code {
    bool loading = false;

    [Parameter]
    public string Id { get; set; }

    User user = new User();

    protected async override Task OnParametersSetAsync()
    {
        user = await UserService.GetUser(long.Parse(Id));
    }

    async Task UpdateUser()
    {
        loading = true;
        try
        {
            await UserService.UpdateUser(user);
            AlertService.Success("User updated successfully", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack())
            {
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else
            {
                navManager.NavigateTo("/user/1");
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}