<div class="nav-link nav-profile d-flex align-items-center pe-0"> 
    <NavLink href="/user/login">
        <i class="bi bi-person fa-lg"></i></NavLink>
    <NavLink href="/user/login" class="d-none d-md-block ps-2">Login</NavLink>
</div>

@code {

}
