<div class="nav-link nav-profile d-flex align-items-center pe-0"> 
    <i class="bi bi-person fa-lg"></i>
    <NavLink href="/user/login" class="d-none d-md-block ps-2">Login</NavLink>
</div>

@code {

}
