@using MindKey.Client.Services

@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<HeaderLayout></HeaderLayout>

<SideBarLayout></SideBarLayout>

<main id="main" class="main">
    <NotificationLayout />

    @Body
</main>
<FooterLayout></FooterLayout>
@code {
    private IJSObjectReference module;
    private string result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<IJSObjectReference>("import", "/assets/js/main.js");
        }
    }
    protected override Task OnInitializedAsync()
    {
        //var url= NavigationManager.Uri;
        return base.OnInitializedAsync();
    }
}
