@if (Result != null)
{
    @if (Result.PageCount > 1)
    {
        <ul class="pagination justify-content-center">
            <li class="page-item pointer">
                <a class="page-link pointer" @onclick="(() => PagerButtonClicked(1))" aria-ar>First</a>
            </li>
            @for (var i = StartIndex; i <= FinishIndex; i++)
            {
                var currentIndex = i;
                @if (i == Result.CurrentPage)
                {
                    <li class="page-item active pointer">
                        <a class="page-link pointer">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item pointer">
                        <a class="page-link pointer" @onclick="(() => PagerButtonClicked(currentIndex))">@i</a>
                    </li>
                }
            }
            <li class="page-item pointer">
                <a class="page-link " @onclick="(() => PagerButtonClicked(Result.PageCount))">Last</a>
            </li>
        </ul>
    }
}

@code {
    [Parameter]
    public PagedResultBase Result { get; set; }

    [Parameter]
    public Action<int> PageChanged { get; set; }

    protected int StartIndex { get; private set; } = 0;
    protected int FinishIndex { get; private set; } = 0;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        StartIndex = Math.Max(Result.CurrentPage - 3, 1);
        FinishIndex = Math.Min(StartIndex + 6, Result.PageCount);
        if (FinishIndex - StartIndex < 6)
        {
            var end = FinishIndex-Result.CurrentPage;
            var add = 6 - end;
            StartIndex = Result.CurrentPage - add;
        }
    }

    protected void PagerButtonClicked(int page)
    {
        PageChanged?.Invoke(page);
    }
}
