<h3>SideBarLayout</h3>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Home</li>
        <NavLink href="/" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
        <li class="nav-heading">Managment</li>
        <NavLink href="/person/1" class="nav-item nav-link">Data Entry</NavLink>
        <NavLink href="/upload/1" class="nav-item nav-link">File Management</NavLink>
        <NavLink href="/user/1" class="nav-item nav-link">Users</NavLink>
        <NavLink href="/swagger/index.html" class="nav-item nav-link" target="_blank">API</NavLink>
        <!-- End Profile Page Nav -->
    </ul>

</aside>
<!-- End Sidebar-->
@code {

}
