@inject IUserService UserService
@inject EventService EventService

@using MindKey.Shared.Models.MindKey
<img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle" width="25" style="margin:5px">
@if (Idea?.Person != null)
{
    <span class="badge border-primary border-1 text-primary">Author: @Idea.Person.FirstName @Idea.Person.LastName</span>
    <span class="badge border-secondary border-1 text-secondary">Date: @Idea.PostDateTime.ToShortDateString() </span>
}
else
{
    <span class="badge border-primary border-1 text-primary">Author: Loading...</span>
    <span class="badge border-secondary border-1 text-secondary">Date:  Loading...</span>
}
@if (Idea != null && UserService != null && Idea.Person != null && UserService.User != null && UserService.User.Id == Idea.Person.PersonId)
{
    <button type="button" class="btn btn-link btn-sm" @onclick="()=>Edit()"><i class="oi oi-pencil"> Edit</i></button>
    <button type="button" class="btn btn-link btn-sm" @onclick="()=>Delete()"><i class=" oi oi-trash"> Delete</i></button>
}


@code {
    [Parameter]
    public Idea Idea { get; set; } = null;

    public void Edit()
    {
        EventService.EditIdea(Idea);
    }
    public void Delete()
    {
        EventService.DeleteIdea(Idea);
    }

}
