@using MindKey.Shared.Models.MindKey;
@if (Tags != null)
    foreach (var item in Tags)
    {
        <span class="badge bg-secondary">@item.Name</span>
    }
<br />
@code {
    [Parameter]
    public Idea Idea { get; set; } = null;
    public List<Tag> Tags { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();

        if (Idea != null)
        {
            Tags = Idea.Tags ?? new List<Tag>();
        }
    }
}
