@page "/home"
@using Blazor.ECharts.Options
@using Blazor.ECharts.Options.Enum
@using Blazor.ECharts.WordCloud.Components
@using MindKey.Client.Components
@using W = Blazor.ECharts.WordCloud.Options


@using MindKey.Shared.Models.MindKey;
@inject IIdeaService IdeaService;
@inject EventService EventService;
<div class="card  info-card">
    <div class="card-body">
        <h5 class="card-title"> Explore <span> by Popular Words </span></h5>
        <WordCloudGTPVersionComponent />
    </div>
</div>

<div class="card  info-card">
    <div class="card-body">
        <h5 class="card-title"> Interact <span> by Posting and Discussing </span> </h5>
        <HomeHowToComponent />
    </div>
</div>



<div class="card  info-card">
    <div class="card-body">
        <h5 class="card-title"> Participate <span> by giving Feedback and Commenting </span> </h5>
        @if (Ideas != null)
        {
            <HomeTrendingIdeaComponent Ideas="@Ideas.Results" />
        }
    </div>
</div>
@code {
    private PagedResult<Idea>? Ideas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Ideas = await IdeaService.GetTopIdeas("1");
        await base.OnInitializedAsync();
    }
}
