<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/thewayman86</RegistryUrl>
    <UserName>thewayman86</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>75348867-cc83-4724-8011-5d5cb07010be</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
    <PublishImageTag>latest</PublishImageTag>
  </PropertyGroup>
</Project>