@page "/upload/viewupload/{id}"
@using MindKey.Client.Services
@using MindKey.Client.Shared
@inject IUploadService UploadService
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime
@inject PageHistoryState PageHistoryState
<div class="pagetitle">
    <h1>Upload</h1>
</div>


<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">Upload <span>| View</span></h5>
        <table class="table col-md-6">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@upload.Id</td>
                </tr>
                <tr>
                    <th scope="row">Uploaded At</th>
                    <td>@upload.UploadTimestamp</td>
                </tr>
                <tr>
                    <th scope="row">Processed At</th>
                    <td>@upload.ProcessedTimestamp</td>
                </tr>
                <tr>
                    <th scope="row">File</th>
                    <td>
                        <button @onclick="DownloadFile">Download</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            @if (PageHistoryState.CanGoBack())
            {
                <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
            }
            else
            {
                <NavLink href="/upload/1" class="btn btn-link">Back</NavLink>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    Upload upload = new Upload();

    protected async override Task OnParametersSetAsync()
    {
        upload = await UploadService.GetUpload(int.Parse(Id));
    }

    void DownloadFile()
    {
        JSRuntime.InvokeAsync<object>(
            "saveAsFile",
            upload.FileName,
            upload.FileContent);
    }
}